---
title: "Real name verification"
product: "BytePlus Account"
product_code: "Account"
section: "Document"
source: "https://docs.byteplus.com/en/docs/Account/real-name-verification"
---

<span id="HnrjDHkP"></span>
## In which scenarios do I need to perform **real name verification**?

As per the regulations in the Chinese mainland, you must have completed real name verification before you can activate and use cloud services on nodes in the Chinese mainland through BytePlus. The system checks your real name verification information when you purchase a cloud service. If you have not completed real name verification, you will be required by regulations to provide authentic identity information and complete real name verification before you can continue your purchase.

&nbsp;

<span id="nLzQAaZg"></span>
## **How do I perform real name verification?** 


1. Specify the [Basic account information](https://console.byteplus.com/user/qualification). Note that the organization name cannot be changed after being specified there. Make sure that the organization name you specify is the same as the name in the business certificate. Name verification will be subsequently performed.

2. Go to the [Real name verification](https://console.byteplus.com/user/authentication/detail/) page and click Start verification. Currently, real name verification is limited to organizations.

3. In the dialog box where you specify the real name verification information, provide the following information:

   1. Mobile number: By default, your current secure mobile number is used as the contact number for the entity undergoing real name verification.

   2. Email: By default, your current secure email is used as the contact email for the entity undergoing real name verification.

   3. Country/Region: By default, the country or region that you specify when your account is registered is used.

   4. Organization name: By default, the organization name that you specify as part of the basic account information is used. Make sure that the name is identical to the organization name in the business certificate, with the same capitalization form and punctuation.

   5. Business registered number: Provide the actual business registered number in the business certificate, which is the number assigned to your organization by the verification authority in your country or region.

   6. Certification photo: Upload the complete set of front and back photos of the business certificate issued by the verification authority in your country or region.


<div style="text-align: center">
<img src="https://sf-bpcms.bytepluscdn.com/obj/byteplus-public-aiso/cloud-universal-doc/20260515090658-58189439428.png" width="1012px" /></div>


&nbsp;

After you specify the preceding information, select the check box to agree to the real name verification rule. Then, click Submit. Your real name verification information is forwarded to VolcEngine for review and archiving. After submission,

it takes 1\-2 working days to review the information. You can view the verification status on the [Real name verification](https://console.byteplus.com/user/authentication/detail/) page.


1. In the review process of real name verification, you can modify the real name verification information and submit the information again. In this case, the information that you previously submitted becomes invalid, and the final review result is determined based on the real name verification information that was most recently submitted. Alternatively, you can withdraw the real name verification application that you submitted. The withdrawn application will not be reviewed.


<div style="text-align: center">
<img src="https://sf-bpcms.bytepluscdn.com/obj/byteplus-public-aiso/cloud-universal-doc/20260429125510-1129867658999.png" width="1913px" /></div>



2. If the real name verification fails, the reason for the failure will be displayed on the page. Then, you can modify the real name verification information as instructed and submit the modified information again.


<div style="text-align: center">
<img src="https://sf-bpcms.bytepluscdn.com/obj/byteplus-public-aiso/cloud-universal-doc/20260429125510-654426232708.png" width="1917px" /></div>



3. If the real name verification is successful, you can now purchase cloud services on nodes in the Chinese mainland.
