---
title: "Verification Report"
product: "BytePlus DataFinder"
product_code: "DataFinder"
source: "https://docs.byteplus.com/en/docs/DataFinder/Verification_Report"
---

When using the event tracking real\-time verification function to verify the event tracking report of each end, you can save the verification test process and solidify it into a verification report, so that you can see the verification process and report the situation later. This article shows you how to view and delete a validation report after saving it as a validation report.

<span id="c9c9c878"></span>
# Attention and Premise


* The current verification report function is a value\-added function and requires a fee to be enabled. If you wish to use this function, you can contact BytePlus technical support staff or your account manager/customer success manager to inquire about activation.

* At present, this feature is only supported by SaaS\-cloud\-native.

* Before viewing the usage verification report, you need to have saved the verification process as a verification report during the event tracking real\-time verification process, see details [Save report](https://docs.byteplus.com/docs/DataFinder/Event_Tracking_Real-Time_Verification#e100ea9f).


<span id="ae8d3a40"></span>
# Function usage

Once logged in to the DataFinder console, you can view all saved validation reports on the Data Management \> event tracking validation \> validation reports page.


* You can quickly filter validation reports at the top with my created, favorite, apps.

* For the filtered verification report, you can click the Favorite button after the report name to collect it for quick follow\-up search; if the report is no longer needed, you can also click the Delete button at the back to delete the report.

* Click on the corresponding report name to jump to the report details page, where you can view the reported results of the verification process, including the detailed log.
