---
title: "Email verification"
product: "BytePlus Domain Names"
product_code: "domain-names"
source: "https://docs.byteplus.com/en/docs/domain-names/email-verification_en"
---

This document introduces email verification in BytePlus Domains.

<span id="overview"></span>
## Overview

According to ICANN regulations, domain registrants must provide accurate registrant information. Especially, the email address in the registrant information must be valid. Therefore, BytePlus Domains requires verification of the email address you provide. Once the email verification is complete, you can specify this email address when creating a registrant profile.

<span id="steps"></span>
## Steps


1. Visit [BytePlus Domains](https://console.byteplus.com/domain-service/search).

2. In the left navigation bar, click **Registrant profiles**.

3. On the **Registrant profiles** page, click the **Email verification** tab.

   <span>![图片](https://sf16-resources.bytepluscdn.com/obj/byteplus-public-aiso/cloud-universal-doc/upload_3060ba9e6f71b29debeaa3fc33054004.png) </span>

4. Enter the email address that needs verification, then click **Send verification code**.

5. Check your email, find the verification code in the verification email, and enter the code as prompted on the page.


The email address you entered will be displayed in the email list on the page. If the verification status of the email address is **Success**, it means the email verification is complete.
